<p>
    <button mat-raised-button color="primary" (click)="start()">{{state}}</button>
</p>
<!-- <label>{{first}}</label>
<label>{{second}}</label>
<label>{{third}}</label> -->

<div *ngIf="startGame">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="" value="" [(ngModel)]="one" maxlength='1' (keyup)="setFocus1(box2)" #box1 autofocus/>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="" value="" [(ngModel)]="two" maxlength='1' (keyup)="setFocus2(box3)" #box2 />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="" value="" [(ngModel)]="three" maxlength='1'(keyup)="setFocus3(box1)" #box3 />
    </mat-form-field>
  <button mat-raised-button color="primary">도전</button>
  <!-- <p>{{box1.value}}</p> -->
</div>

<div *ngIf="inning">
  <p>strike : {{strikeCount}}</p>
  <p>ball : {{ballCount}} </p>
  <p>inning : {{inning}}</p>
</div>

<ul class="records">
    <li *ngFor="let record of rrecord">
        <span class="badge">{{record}}</span>
    </li>
</ul>

<div *ngIf="result">
  <p>{{inning}}이닝 만에 성공했습니다.</p>
  <p>기록을 남겨보세요</p>
  <p>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="" value="" [(ngModel)]="name"/>
    </mat-form-field>
  </p>
  <p>
    <button (click)="savedb()">확인</button>
  </p>

</div>

<div *ngIf="items">
  <ul>
    <li class="text" *ngFor="let item of items | async">
      {{item.name}} // {{item.inning}}
    </li>
  </ul>
</div>
<!-- <div>
  <li ng-repeat="list in record">{{list}}</li>
</div> -->
