<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;">
  <div style="text-align: center;">
  <mat-card style="width:30%;">
      <h1>
          <p (click)="f5()">{{ title }}</p>
      </h1>
  </mat-card>
  </div>
</div>

<app-strike></app-strike>
<!-- <router-outlet></router-outlet> -->
